{
  email {$ACME_EMAIL}
}
{$DOMAIN} {
  encode zstd gzip
  header { Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" }
  reverse_proxy frontend:80
}
{$API_DOMAIN} {
  encode zstd gzip
  header { Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" }
  reverse_proxy backend:80
}
{$MQTT_DOMAIN} {
  header { Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" }
  reverse_proxy http://mosquitto:9001
}